/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html {
  height: 100%;
  width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 88px;
  line-height: 1;
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: rgb(18, 18, 18);;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
  font-weight: 500;
}

h1 {
  font-size: 32px;
  margin: 0 0 16px 0;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
  margin: 8px 0;
}

.content {
  max-width: 1080px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 16px;
  padding: 32px 16px;
  box-sizing: border-box;
}

// header
header {
  background-image: url('../images/live_shot.png');
  background-position: center;
  background-size: cover;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 152, 225, 0.9);
    opacity: 0.9;
    z-index: 10;
  }
}

.logo {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
  }

  a {
    padding: 8px;
    color: #FFFFFF;

    &:active, &:visited, &:focus {
      text-decoration: none !important;
      color: #FFFFFF;
    }
  }
}

nav ul {
  display: flex;

  a, a:active, a:visited {
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px;
  }
}

.inner-content {
  position: relative;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 16px;
  max-width: 1080px;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 100;
  box-sizing: border-box;
}

section {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px 0px #ccc;
}

// news
#news {
  article {
    margin-bottom: 32px;

    &:last-of-type {
      margin-bottom: 16px;
    }

    &.sub {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .img-container {
        max-height: 250px;
      }

      .copy-container {
        padding: 16px;

        h2 {
          margin: 0 0 8px 0;
        }
      }
    }
    
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    h2 {
      margin: 16px 0 8px 0;
    }

    p {
      color: rgb(90, 90, 90);
    }
  }
}

// sidebar
#sidebar {
  height: 100%;

  div {
    margin-bottom: 16px;
  }

  h2 {
    margin-bottom: 12px;
  }

  .matches {

    ol {
  
      li {
        font-size: 16px;
        margin-bottom: 8px;

        &:last-of-type
        {
          margin-bottom: 16px;
        }
  
        span {
          color: rgb(90, 90, 90);
          font-weight: lighter;
          font-size: 14px;
          display: block;
        }
      }
    }
  }

  .social {

    ul {
      display: flex;

      li a {
        font-size: 32px;
        color: rgba(1, 152, 225, 0.9);
        margin-right: 12px;

        &:hover {
          color: rgba(1, 152, 225, 1);
        }
      }
    }
  }
  p {
    font-size: 12px;
  }
}

// team
#team {
  h2 {
    margin-bottom: 16px;
  }

  .team-container {
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 2px solid #0198e1;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border: none;
    }

    h2 {
      font-weight: bold;
    }
  }

  .player-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    font-size: 16px;

    .player {
      border-radius: 8px;

      .image-container {
        margin-bottom: 8px;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .info-container {
        .squad-number {
          color: #5a5a5a;
          display: block;
        }
        .last-name {
          font-weight: bold;
        }
      }
    }
  }

}

// Player
#player-bio {
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    width: 100%;
  }
}

// About
iframe {width:100%;height:100%;}

footer {
  background-image: url('../images/live_shot.png');
  background-position: center;
  background-size: cover;
  position: relative;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(1, 152, 225, 1);
  text-align: center;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 152, 225, 0.9);
    opacity: 0.9;
    z-index: 10;
  }
}

a.primary-btn {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  box-sizing: content-box;
  padding: 8px;
  background-color: rgba(1, 152, 225, 0.9);
  color: #FFFFFF;
  border-radius: 8px;
  text-decoration: none;
  
  &:hover {
    background-color: rgba(1, 152, 225, 1);
  }
}

